/* General Styles */
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f3e7;
}


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin: 0 10px;
}

/* Mobile Navbar */
@media screen and (max-width: 768px) {
    /* .navbar-menu {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
    } */
    
    .navbar-menu.active {
        display: flex;
    }
    
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}

/* Responsive Content */
.container {
    /* width: 90%; */
    margin: auto;
    /* max-width: 1200px; */
}

@media screen and (max-width: 768px) {
    .container {
        /* width: 100%; */
        padding: 10px;
    }
}


.food-menu{
    width:100vw;
}

.food-con{
    width:100vw !important;
}


html{
    width: 100vw !important;

}
html, body {
    width: 100vw !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    overflow-x: hidden;
}
